{% extends "base.html" %}
{% load static %}

{% block title %}Review{% endblock title %}

{% block content %}

<div class="container-fluid container-lg p-2">
    <div class="row">
        <div class="col">
            <h3>Do you really want to delete the following review?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form class="centered-content" method="post" class="centered-content">
                {% csrf_token %}
                <div class="dashboard-item custom-form">
                    <p class="centered-content">{{ review.created_on }}</p>
                    <div class="centered-content">
                        {% for i in review.filled_satisfaction_stars %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% for i in review.empty_satisfaction_stars %}
                        <span class="fa fa-star"></span>
                        {% endfor %}
                    </div>
                    <p class="centered-content">{{ review.title }}</p>
                    <p class="centered-content">{{ review.description }}</p>
                </div>
                <input class="form-btn btn btn-danger" type="submit" value="Delete">
                <a class="form-btn btn btn-secondary" href="{% url 'dashboard' %}">Cancel</a>
            </form>
        </div>
    </div>

{% endblock content %}