{% extends "base.html" %}
{% load static %}

{% block title %}Appointment{% endblock title %}

{% block content %}
<h3>Update your appointment of {{ form.appointment_day.value }}</h3>
<p class="centered-content px-3">If you want to change the date of your appointment, please <a class="link-style" aria-label="Delete the appointment" href="{% url 'delete_appointment' appointment.pk %}">delete it</a> and schedule a new one.</p>
<form class="centered-content" method="POST">
    {% csrf_token %}
    <div class="custom-form centered-content">
        {{ form.as_p }}
    </div>
    <input class="form-btn btn btn-success" type="submit" value="Update">
    <a class="form-btn btn btn-secondary" aria-label="Go back to the personal dashboard" href="{% url 'dashboard' %}">Cancel</a>
</form>
{% endblock content %}