/* Colors */

.red-ant {
    color: #9d3f3f;
}

.green-success {
    color: #3f9d3f;
}

.btn-success {
    background-color: #3f9d3f;
}

.white-text {
    color: white;
}

/* ------------------------------------------- */
/* Styling base.html */
/* ------------------------------------------- */

body {
    display: flex;
    font-family: 'Merriweather Sans', sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Andika', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 22px;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 20px;
    padding: 15px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 17px;
}

h4 {
    background-color: #3f3f9d;
    color: white;
    padding: 25px;
}

.centered-content {
    text-align: center;
}

.container-fluid {
    padding: 0;
}

.navbar-nav {
    background-color: #ddd;
}

a {
    text-decoration: none;
    color: black;
}

.img-logo {
    height: 80px;
    vertical-align: baseline;
}

.name-logo {
    display: inline-block;
    vertical-align: top;
}

.name-logo h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.name-logo h3 {
    padding-top: 0;
    margin-top: 0;
}

.greetings {
    margin-bottom: 0;
    text-align: right;
    padding: 5px 25px;
    background-color: #3f3f9d;
    color: white;
}

.main-footer {
    margin-top: auto;
    color: white;
}

.footer-rule {
    border-top: 2px solid white;
    width: 60%;
    margin: 15px auto;
}

.social-media {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.social-media:hover {
    background-color: white;
    color: #3f3f9d;
}

.extra-ressources a {
    text-align: center;
}

.extra-ressources a:hover {
    background-color: white;
    color: #3f3f9d;
    font-weight: bold;
}

.copyright {
    margin: 0;
    padding: 15px;
}

.copyright p {
    margin: 0;
    text-align: center;
}

/* ------------------------------------------- */
/* Styling index.html */
/* ------------------------------------------- */

.hero-img {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/landing_page/hero_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catching-text {
    position: relative;
    max-width: 500px;
    top: 50px;
    color: white;
    background-color: black;
    padding: 5px 15px;
    font-size: 20px;
}

.cta-btn {
    position: relative;
    width: 100px;
    top: 32%;
    left: 50%;
    transform: translate(-60%, -50%);
}

.card {
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

.card-title {
    height: 65px;
    line-height: 65px;
    vertical-align: middle;
}

/* ------------------------------------------- */
/* RESPONSIVENESS */
/* ------------------------------------------- */

@media only screen and (min-width: 768px) {
    /* ------------------------------------------- */
    /* Styling base.html */
    /* ------------------------------------------- */

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
        padding: 15px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }
    
    .navbar-nav {
        background-color: white;
    }

    .footer-rule {
        border-left: 2px solid white;
        width: 0;
        height: 150px;
        margin: 15px auto;
    }
}
