{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

<div class="container-fluid container-lg p-2">
    <div class="row">
        <div class="col">
            <details>
                <summary class="centered-content">Dashboard Help</summary>
                <div class="dashboard-item p-3">
                    <p class="centered-content">Your dashboard is personal and displays only your own tasks and appointments.</p>
                    <p class="centered-content">Also your personal information is safe and will only be displayed on your dashboard.</p>
                    <p class="centered-content">To create tasks, and appointment or to leave a review, use the toolbox in the bottom right corner of your screen.</p>
                </div>
            </details>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <!-- Open tasks -->
            <div class="dashboard-item">
                <div class="row">
                    <div class="col align-self-center">
                        <h4>My Tasks</h4>
                    </div>
                </div>
                {% for task in task_list %}
                {% if not task.done %}
                <div class="row m-0">
                    <hr>
                    <div class="col-7">
                        <p class="task-title my-1">{{ task.name }}</p>
                    </div>
                    <div class="col-5 centered-content">
                        <a class="form-btn btn btn-success my-1 py-1" aria-label="See task's details" href="{% url 'task_detail' task.id %}">Details</a>
                    </div>
                    <div class="col-9 my-1">
                        <p>{{ task.category }}</p>
                    </div>
                    <div class="col-3 my-1 centered-content">
                        <div class="btn-delete centered-content">
                            <a aria-label="Delete the task" href="{% url 'delete_task' task.pk %}">
                                <p class="centered-content p-1"><i class="fa-regular fa-trash-can white-text"></i></p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
            <!-- Upcoming appointments -->
            <div class="dashboard-item">
                <div class="row">
                    <div class="col">
                        <h4>My Upcoming Appointments</h4>
                    </div>
                </div>
                {% for appointment in appointments %}
                <div class="row p-2">
                    <div class="col-12 col-md-3">
                        <p class="centered-content my-1"><strong>{{appointment.appointment_day }}</strong></p>
                    </div>
                    <div class="col-12 col-md-5 dashboard-schedule">
                        <p class="my-1">from {{ appointment.appointment_start_time }} to {{ appointment.appointment_end_time }}</p>
                    </div>
                    <div class="col-12 col-md-4 centered-content">
                        <a class="form-btn btn btn-secondary m-0" aria-label="See appointment's details" href="{% url 'appointment_detail' appointment.pk %}">Details</a>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Closed tasks -->
            <div class="dashboard-item bg-dark-subtle grey-text">
                <div class="row">
                    <h3 class="grey-title">Completed tasks</h3>
                </div>
                <div class="row d-none d-md-flex">
                    <div class="col-3">
                        <p class="m-2">Description</p>
                    </div>
                    <div class="col-2">
                        <p class="centered-content my-2">Due date</p>
                    </div>
                    <div class="col-3">
                        <p class="centered-content my-2">Employee's name</p>
                    </div>
                    <div class="col-4">
                        <p class="my-2">Comments</p>
                    </div>
                </div>
                {% for task in task_list %}
                {% if task.done %}
                <div class="row">
                    <div class="col-6 col-md-3">
                        <p class="grey-text task-title m-2">{{ task.name }}</p>
                    </div>
                    <div class="col-6 col-md-2">
                        <p class="centered-content my-2">{{ task.due_date|date:"Y/m/d" }}</p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p class="centered-content my-2">{{ task.employee.full_name }}</p>
                    </div>
                    <div class="col-6 col-md-4">
                        <p class="my-2">{% if task.comment %}{{ task.comment }}{% else %}no-comments{% endif %}</p>
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock content %}
