{% extends "base.html" %}
{% load static %}

{% block title %}Task detail{% endblock title %}

{% block content %}

<div class="container-fluid container-lg p-2">
    <div class="row">
        <div class="col">
            <h3>Your task details</h3>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-12 col-md-8 offset-md-2 dashboard-item">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p><span class="task-title">Description:</span> {{ task.name }}</p>
                </div>
                <div class="col-12 col-md-6">
                    <p><span class="task-title">Category:</span> {{ task.category }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5">
                    <p><span class="task-title">Created on:</span> {{ task.created_on }}</p>
                </div>
                <div class="col-12 col-md-4">
                    <p><span class="task-title">Archived:</span> {% if task.done %}Yes{% else %}No{% endif %}</p>
                </div>
                <div class="col-12 col-md-3">
                    <p><span class="task-title">Repeat:</span> {% if task.repeat %}Yes{% else %}No{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col centered-content">
            <a class="form-btn btn btn-secondary" href="{% url 'dashboard' %}">Back</a>
            <a class="form-btn btn btn-success" href="{% url 'task_update' task.pk %}">Modify</a>
        </div>
    </div>
</div>

{% endblock content %}
