{% extends "base.html" %}
{% load static %}

{% block title %}Update task{% endblock title %}

{% block content %}

<div class="container-fluid container-lg p-2">
    <div class="row">
        <div class="col">
            <div class="m-2">
                <a href="{% url 'dashboard' %}"><i class="fa-solid fa-left-long"></i> Back to your dashboard</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Update your task</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <form class="centered-content" action="" method="POST">
                {% csrf_token %}
                <div class="custom-form centered-content">
                    {{ form.as_p }}
                </div>
                <input class="form-btn btn btn-success" type="submit" value="Update">
                <a class="form-btn btn btn-secondary" href="{% url 'dashboard' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
