{% extends "base.html" %}
{% load static %}

{% block title %}Error{% endblock title %}

{% block content %}

<h3>Error 500 - Internal Servor Error</h3>

<p class="centered-content">We are sorry for the inconvenience, the server encountered an internal error or misconfiguration and was unable to
    complete your request.</p>

<div class="centered-content">
    <a class="form-btn btn btn-luxus" aria-label="Go to our contact form" href="{% url 'contact' %}">Contact us <i class="fa-solid fa-user-tie"></i></a>
</div>

{% endblock content %}