{% extends "base.html" %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}

<div class="container-fluid about">
    <div class="row">
        <div class="col">
            <section id="about-section">
                <h4>About us <i class="fa-regular fa-address-card"></i></h4>
                
                <p>
                    Once upon a time in a small town, nestled amidst rolling hills and picturesque landscapes, a group of friends began
                    their journey together. They were ordinary kids, attending the same primary school, but little did they know that their
                    bond would transcend time and pave the way for an extraordinary venture. Today, we proudly present our company, Hands Home Helpers, a reflection of our shared values, diverse interests, and unwavering friendship.
                </p>
                <p>
                    As we grew older, life took us on different paths. Some of us pursued careers in business, others found solace in the
                    realms of technology, while a few others honed their skills in the arts. Our paths diverged, but our connection remained
                    unbreakable. We cherished the memories we made during our childhood days, and it was during a nostalgic reunion that we
                    stumbled upon a shared dream - the dream to build something meaningful together.
                </p>
                <p>
                    Drawing inspiration from our collective experiences, we realized that our true calling lay in serving others. We shared
                    a passion for making a difference in people's lives, particularly in the realm of housekeeping, gardening, and family
                    assistance. And so, the seeds of Hands Home Helpers were sown.
                </p>
                <p>
                    The foundation of our company rests on the core values that have guided us from the beginning. First and foremost, we
                    believe in the power of kindness. We understand that a warm smile, a listening ear, and a helping hand can brighten
                    someone's day and foster a sense of community. Every interaction with our clients is infused with compassion and
                    empathy, ensuring that we not only meet their needs but also exceed their expectations.
                </p>
                <p>
                    Excellence is the driving force behind everything we do. We strive to deliver impeccable service in every task we
                    undertake, whether it's ensuring a spotless home, transforming a garden into an oasis, or providing reliable assistance
                    for families. Our commitment to excellence fuels our dedication to continuous learning and improvement, allowing us to
                    stay at the forefront of our industry.
                </p>
                <p>
                    But it's not all work and no play. We firmly believe that the journey should be as enjoyable as the destination. Our
                    shared vision encompasses the idea that work should be fulfilling and fun. We bring our unique passions and interests to
                    the table, infusing creativity and joy into our daily tasks. Our team members are not merely colleagues; they are
                    friends who support, inspire, and motivate each other, creating a vibrant work environment where enthusiasm thrives.
                </p>
                <p>
                    A distinguishing aspect of our company is our unwavering belief in the power of self-motivation. By embarking on this
                    entrepreneurial journey, we have chosen to forge our own paths and create a space where our passion and dedication can
                    flourish. As a team, we understand that when you work for yourself, every success is magnified, every challenge is an
                    opportunity, and every milestone is a testament to our shared vision.
                </p>
                <p>
                    At Hands Home Helpers, we offer a comprehensive range of services to cater to the diverse needs of our clients. Whether it's
                    ensuring a clean and organized living space, designing breathtaking gardens, or providing a helping hand to busy
                    families, we go above and beyond to make a positive impact. Our deep-rooted connection as childhood friends enables us
                    to work seamlessly together, leveraging our individual strengths to deliver exceptional results.
                </p>
                <p>
                    As we embark on this new chapter, we invite you to join us on this incredible journey. Together, let us create a space
                    where kindness, excellence, and fun intertwine. Whether you need assistance with housekeeping, gardening, or family
                    support, we are here to provide the highest quality of service, infused with the warmth and dedication that stems from
                    our enduring friendship.
                </p>
                <p>Welcome to Hands Home Helpers, where we turn dreams into reality, one task at a time.</p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section id="team-section">
                <h4>Meet our Team  <i class="fa-solid fa-people-group"></i></h4>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card employee-profile mx-auto my-5" style="width: 18rem;">
                            <div class="employee-picture">
                                <img src="{% static 'images/hands_home_helpers_logo.png' %}" class="d-block w-100" alt="...">
                            </div>
                            <h5 class="card-title">Stella Artois</h5>
                            <div>
                                <i class="fa-brands fa-linkedin-in"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card employee-profile mx-auto my-5" style="width: 18rem;">
                            <div class="employee-picture">
                                <img src="{% static 'images/hands_home_helpers_logo.png' %}" class="d-block w-100" alt="...">
                            </div>
                            <h5 class="card-title">Stella Artois</h5>
                            <div>
                                <i class="fa-brands fa-linkedin-in"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card employee-profile mx-auto my-5" style="width: 18rem;">
                            <div class="employee-picture">
                                <img src="{% static 'images/hands_home_helpers_logo.png' %}" class="d-block w-100" alt="...">
                            </div>
                            <h5 class="card-title">Stella Artois</h5>
                            <div>
                                <i class="fa-brands fa-linkedin-in"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card employee-profile mx-auto my-5" style="width: 18rem;">
                            <div class="employee-picture">
                                <img src="{% static 'images/hands_home_helpers_logo.png' %}" class="d-block w-100" alt="...">
                            </div>
                            <h5 class="card-title">Stella Artois</h5>
                            <div>
                                <i class="fa-brands fa-linkedin-in"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card employee-profile mx-auto my-5" style="width: 18rem;">
                            <div class="employee-picture">
                                <img src="{% static 'images/hands_home_helpers_logo.png' %}" class="d-block w-100" alt="...">
                            </div>
                            <h5 class="card-title">Stella Artois</h5>
                            <div>
                                <i class="fa-brands fa-linkedin-in"></i>
                                <i class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <section id="faq-section">
                <h4>FAQ's  <i class="fa-solid fa-question"></i><i class="fa-solid fa-question"></i></h4>
                <details class="centered-content my-3">
                    <summary>How can I register online?</summary>
                    <p>Go to the registration page <a class="link-style" href="{% url 'account_signup' %}">here</a></p>
                    <hr>
                </details>
                <details class="centered-content my-3">
                    <summary>What are the opening hours?</summary>
                    <p>Daily 8am-8pm from Monday to Saturday</p>
                    <hr>
                </details>
                <details class="centered-content my-3">
                    <summary>How can I make sure that my request is under consideration?</summary>
                    <p>Email confirmation will be send to your registered email, and may take up to 24 hours.</p>
                    <hr>
                </details>
                <details class="centered-content my-3">
                    <summary>Do I have to be at home during the housekeeping service?</summary>
                    <p>It is completely up to you. Some customers enjoy the opportunity to have some time for themselves out in the city while
                    their apartment is being cleaned. Others like to be around to have a chance to give the cleaning employee directions when
                    needed. The only thing you need to make sure is that your cleaner has a way to access your home.</p>
                    <hr>
                </details>
                <details class="centered-content my-3">
                    <summary>Non-exhaustive list of what we can do.</summary>
                    <ul class="centered-content">
                        <li>Kitchen cleaning</li>
                        <li>Bathroom cleaning</li>
                        <li>Bedroom cleaning</li>
                        <li>Dusting</li>
                        <li>Limescale removal</li>
                        <li>Balcony cleaning</li>
                        <li>Ironing</li>
                        <li>Owen cleaning</li>
                        <li>Fridge cleaning</li>
                        <li>Window cleaning</li>
                        <li>Laundry</li>
                        <li>Mold removal</li>
                        <li>Carpet cleaning</li>
                        <li>Steam cleaning</li>
                        <li>Small repairs</li>
                        <li>Wall painting</li>
                        <li>Kitchen exhaust cleaning</li>
                        <li>Gardening</li>
                        <li>Hoarding cleanup</li>
                        <li>Large item removal</li>
                        <li>Garden patch maintenance</li>
                        <li>Swimming pool maintenance</li>
                    </ul>
                    <hr>
                </details>
            </section>
        </div>
    </div>
</div>
{% endblock content %}