{% load static %}

{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <title>{% block title %}{% endblock title %} | Hands Home Helpers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md py-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <div class="main-logo">
                        <img class="img-logo" src="{% static 'images/hands_home_helpers_logo.png' %}"
                            alt="Hands Home Helpers company logo">
                        <div class="name-logo">
                            <h1><span class="d-block d-md-inline">Hands</span>
                                <span class="d-block d-md-inline">Home</span>
                                <span class="d-block d-md-inline">Helpers</span>
                            </h1>
                            <h2 class="red-ant d-none d-md-block">Premium Housekeeping</h2>
                        </div>
                    </div>
                </a>

                <button class="navbar-toggler mx-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link centered-content {% if request.path == home_url %}active{%endif%}"
                                aria-current="page" aria-label="go to home page" href="{% url 'offers' %}">Our offers <i
                                    class="fa-solid fa-hand-sparkles d-block centered-content"></i></a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link centered-content {% if request.path == home_url %}active{%endif%}" aria-current="page"
                                href="{% url 'dashboard' %}">My account <i
                                    class="fa-solid fa-key d-block centered-content"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link red-ant centered-content {% if request.path == home_url %}active{%endif%}" aria-current="page" aria-label="go to logout page"
                                href="{% url 'account_logout' %}">Logout <i
                                    class="fa-solid fa-arrow-right-from-bracket red-ant d-block centered-content"></i></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link green-success centered-content {% if request.path == home_url %}active{%endif%}" aria-current="page" aria-label="go to login page"
                                href="{% url 'account_login' %}">Login <i
                                    class="fa-solid fa-arrow-right-to-bracket green-success d-block centered-content"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link green-success centered-content {% if request.path == home_url %}active{%endif%}" aria-current="page" aria-label="go to registration page"
                                href="{% url 'account_signup' %}">Register <i
                                    class="fa-solid fa-user-plus green-success d-block centered-content"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>