{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<section class="container-fluid hero-img" style="background-image: url({% static 'images/landing_page/hero_img.jpg' %});">
    <div class="catching-text">
        <p class="m-0">Let us demonstrate our competence for FREE, your first cleaning hours are on the house!</p>
    </div>
    <div class="cta-btn">
        <a class="form-btn btn btn-success" href="{% url 'account_signup' %}">Register Now</a>
    </div>
</section>

<section class="container-fluid our-skills">
    <h4>What are we good at?</h4>
    <div class="row my-4 gy-4">
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Gardening</h5>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/gardening_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/gardening_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Cleaning</h5>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/cleaning_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/cleaning_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/cleaning_3.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Small repairs & renovations</h5>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/small_installation_and_repair_1.jpg' %}"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/small_installation_and_repair_2.jpg' %}"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/small_installation_and_repair_3.jpg' %}"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Swimming pool maintenance</h5>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/swimming_pool_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/swimming_pool_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Home care</h5>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/home_care_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/home_care_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/home_care_3.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Garden patch</h5>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/garden_patch_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/garden_patch_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/garden_patch_3.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}