{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<section class="container-fluid hero-img" style="background-image: url({% static 'images/landing_page/hero_img.jpg' %});">
    {% if request.user.is_anonymous %}
    <div class="special-offer">
        <div class="catching-text">
            <h3 class="m-0">Let us demonstrate our competence for FREE, your first cleaning hours are on the house!</h3>
        </div>
        <div class="cta-btn">
            <a class="form-btn btn btn-success" href="{% url 'account_signup' %}">Register Now</a>
        </div>
    </div>
    {% endif %}
</section>

<section class="container-fluid our-skills">
    <div class="row bg-danger white-text p-2">
        <div class="col-12 col-md-4 centered-content p-1"><i class="fa-solid fa-check"></i> More free time</div>
        <div class="col-12 col-md-4 centered-content p-1"><i class="fa-solid fa-check"></i> All-in-one solution</div>
        <div class="col-12 col-md-4 centered-content p-1"><i class="fa-solid fa-check"></i> Less stress</div>
    </div>
    <div class="row">
        <div class="col p-3">
            <p class="uppercase-content justify-content mx-5 py-2">We are everything you need to keep your home a nice place to live... without
                spending your free time to keep it clean and tidy.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>What are we good at?</h4>
        </div>
    </div>
    <div class="row  p-4 gy-4">
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Gardening</h5>
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/gardening_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/gardening_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Cleaning</h5>
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/cleaning_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/cleaning_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/cleaning_3.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Small repairs & renovations</h5>
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/small_installation_and_repair_1.jpg' %}"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/small_installation_and_repair_2.jpg' %}"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/small_installation_and_repair_3.jpg' %}"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Swimming pool maintenance</h5>
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/swimming_pool_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/swimming_pool_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Home care</h5>
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/home_care_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/home_care_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/home_care_3.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card mx-auto" style="width: 18rem;">
                <h5 class="card-title">Garden patch</h5>
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/landing_page/garden_patch_1.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/garden_patch_2.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/landing_page/garden_patch_3.jpg' %}" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>4 EASY steps to enjoy our services!</h4>
            <div class="centered-content">
                <div class="row">
                    <div class="col-12 col-md-3 px-5 px-md-3">
                        <div class="onboarding-steps">
                            <i class="fa-solid fa-1"></i>
                            <p>Create an account on our website. <a class="link-style" href="{% url 'account_signup' %}">Register now!</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 px-5 px-md-3">
                        <div class="onboarding-steps">
                            <i class="fa-solid fa-2"></i>
                            <p>Choose the subscription that covers your needs. <a class="link-style" href="{% url 'offers' %}">See our
                                    offers!</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 px-5 px-md-3">
                        <div class="onboarding-steps">
                            <i class="fa-solid fa-3"></i>
                            <p>Use your amazing personal dashboard to let us know what to do and when to do it.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 px-5 px-md-3">
                        <div class="onboarding-steps">
                            <i class="fa-solid fa-4"></i>
                            <p>Finally enjoy being home with your friends and family.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if reviews %}
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>Why our customers love us?</h4>
        </div>
    </div>
    <!-- Slideshow container -->
    <div class="row justify-content-center slideshow-container">
        <!-- Full-width slides/quotes -->
        <div class="col-2 p-0 mx-auto centered-content">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        </div>
        <div class="col-8 centered-content mx-auto">
            {% for review in reviews %}
            <div class="mySlides dashboard-item p-3 mx-auto centered-content">
                <p class="reviews-title">{{ review.title }}</p>
                <div>
                    {% for i in review.filled_satisfaction_stars %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for i in review.empty_satisfaction_stars %}
                    <span class="fa fa-star"></span>
                    {% endfor %}
                </div>
                <p class="reviews-date">({{ review.created_on|date:"jS, F Y" }})</p>
                <q>{{ review.description | truncatewords:50 }}</q>
                <p class="author">- {{ review.user.username }}</p>
                {% if review.user.id == request.user.id %}
                <div class="centered-content">
                    <div class="d-inline-block">
                        <a class="form-btn btn btn-success" href="{% url 'update_review' review.pk %}">Edit</a>
                    </div>
                    <div class="d-inline-block">
                        <a class="form-btn btn btn-danger" href="{% url 'delete_review' review.pk %}">Delete</a>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-2 p-0 mx-auto centered-content">
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}