{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block emailjs %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
    (function () {
        emailjs.init("Sg1gXZ_d6IdZWX13f");
    })();
</script>
{% endblock emailjs %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>Contact us</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login centered-content py-4" onsubmit="return sendMail(this);" method="POST">
                {% csrf_token %}
                <div class="custom-form centered-content">
                    {{ form.as_p }}
                </div>
                <button class="primaryAction form-btn btn btn-success" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/sendEmail.js' %}"></script>
{% endblock content %}